[Unit]
Description=Agouti's distributed currency daemon
After=network.target

[Service]
User=agouti
Group=agouti

Type=forking
PIDFile=/var/lib/agoutid/agoutid.pid

ExecStart=/usr/bin/agoutid -daemon -pid=/var/lib/agoutid/agoutid.pid \
          -conf=/etc/agouti/agouti.conf -datadir=/var/lib/agoutid

ExecStop=-/usr/bin/agouti-cli -conf=/etc/agouti/agouti.conf \
         -datadir=/var/lib/agoutid stop

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
